<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Historical</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let item of list" (click)="getDetails(item.date, item.data)">
      <span class="item-date">{{ item.date }}</span><br/>
      <span class="item-data">{{ item.data }}</span>
    </button>
  </ion-list>
</ion-content>
