<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Generate QR Code</h3>
  <ion-item id="input-text">
    <ion-label color="primary" floating>Message to QR Code</ion-label>
    <ion-input type="text" [(ngModel)]="qrData" (keyup)="check(qrData)"></ion-input>
  </ion-item>
  <button ion-button full (click)="generateQRCode();" [disabled]="isDisabled">Generate</button>
  <button ion-button full (click)="clearQRCode();">Clear</button>
  <button ion-button full (click)="scanQRCode()">Scan</button>

  <ion-card *ngIf="createdCode">
    <ion-card-title>
      Value : {{ createdCode }}
    </ion-card-title>
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <button ion-button full (click)="share()">Share !</button>
  </ion-card>

  <ion-card *ngIf="scannedCode">
    <ion-card-title>
      Value scanned : {{ scannedCode }}
    </ion-card-title>
  </ion-card>
</ion-content>
