<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ date }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-title>
      Value : {{ data }}
    </ion-card-title>
    <ngx-qrcode [qrc-value]="data"></ngx-qrcode>
    <button ion-button full (click)="share()">Share !</button>
  </ion-card>
</ion-content>
